{% extends 'rezerwacja_spotkan/base.html' %}

{% block page_header %}
  <div class="p-3 mb-4 bg-light border rounded-3">
    <div class="container-fluid py-4">
      <h1 class="display-3">Sledz swoje zadania</h1>
      
      <p class="lead">Stwórz swój własny organizer, nadaj mu temat i dodaj opis.</p>
      {% if not user.is_authenticated %}

        <a class="btn btn-primary btn-lg mt-1"
          href="{% url 'accounts:register' %}">Register &raquo;</a>
      {% endif %}
    </div>
  </div>
{% endblock page_header %}